<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Autocomplete - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    
  </head>
  <body>
    <script>
      
      $( function() {
        
        var availableTags = [
          "{{context}}"
 
        ];
        $( "#tags" ).autocomplete({
          source: availableTags
        });
        
      } );
      </script>
  <div class="ui-widget">
    <label for="tags">create</label>
    <input id="tags">
  </div>
  {% for n in context  %}
  {{n}}
  {%endfor%}
   <button type="submit">submit</button>
  </body>
  </html>